 header, footer {
 	flex: none; /* 2 */
 	z-index: 1;
 }


 body.flexbox {
 	display: flex;
 	flex-direction: column;
 	height: 100vh;
   min-height: 100vh;
 }


 .site-content {
   // flex: 1; /* 2 */
   flex:1 0 auto;
   // padding:1.5em 1.5em 0;
   padding: 0;
   // padding: var(--space) var(--space) 0;
   width: 100%;
   position: relative;
   // overflow-y: auto;
 }



	.site-content {
		padding: 0;
		background: transparent;

		.pg-aligner {
		  display: flex;
		  align-items: center;
		  justify-content: center;
		  height: 100vh;// calc(100vh - 71px);
		}

		.aligner-item {
		  // text-align: center;
		}
}


// NAVIGATION

.navbar {
	padding: 0;
}

a.navbar-brand {
    background: url('../img/bein-logo-k-250-2x.png') no-repeat;
    text-indent: -9999px;
    width: 75px;
    height: 75px;
    margin-top: 12px;
    background-size: contain;
	transform: scale(1);
    transition: transform .3s;
		&:hover {
			transform: scale(1.07);
		}

		@include media-breakpoint-down(sm) {
			width: 50px;
			height: 50px;
			margin-top: 5px;
			margin-bottom: 5px;
		}

}

div#navbar {
    line-height: 99px;	
}

#menu-primary li > a {
    font-size: 28px;
    color: #333;
    font-weight: 500;
    // font-size: 18px;
    // color: #333;
    // font-weight: 600;
    // text-transform: uppercase;
    // letter-spacing: 1px;

	&:hover {
		opacity: .7;
		transition: .2s all ease-in-out;
	}
}


#menu-secondary-menu li > a {
    // font-size: 16px;
    // color: #333;
    // font-weight: 400;
    // text-transform: uppercase;
    // line-height: 2em;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: 2em;    
}

div#pre-navbar {
    line-height: 50px;	
}


nav.navbar.navbar-static-top {
	
}

.navbar-nav .nav-item+.nav-item {
	margin-left: 2rem;
}


ul#menu-mobile-holder {
	margin-bottom: 0;
}

ul#menu-mobile {
    float: left;
    width: 100%;
    margin: 5px 0;
}

.navbar-toggler {
	height: 61px;
}


// GIVE ACTIVE MENU ITEMS AN INDICATOR
#menu-primary li.current-menu-item.active, #menu-primary li.current-page-ancestor {
	position: relative;

	// THIS IS FOR A TRIANGLE OVER CONTENT AREA
	// &:before {
 //    position: absolute;
 //    bottom: -14px;
 //    left: calc(50% - 12.5px);
 //    font-size: 43px;
 //    color: $gray-lightest; 
 //    content: "\f0d8";
 //    font-family: 'icomoon';
 //    speak: none;
 //    font-style: normal;
 //    font-weight: normal;
 //    font-variant: normal;
 //    text-transform: none;
 //    line-height: 1;
	// }

	// THIS IS FOR A RULE UNDER THE ACTIVE NAV
	&:before {
	position: absolute;
    bottom: 24px;
    content: "";
    height: 3px;
    background: #000;
    width: 100%;
	}


}

// AND A DIFFERENT ONE FOR MINI MENU ITEMS
#menu-secondary-menu li.current-menu-item.active > a, #menu-secondary-menu li.current-page-ancestor > a {
	color: $blue;
}


// AND A THIRD ONE FOR SIDENAV ITEMS WITHIN SUB-PAGES
.inner-nav li.current_page_item > a {
	color: $black;
	font-weight: 700;
	border-right: 5px solid $black;
}



.bgko {
	background: $white;
	border-bottom: 2px solid $gray-lightest; 
	// border-bottom: 2px solid rgba(221,221,221,0.5); 
}

.bgk {
	background: $black;
}

//// SIDENAV

.inner-nav {
	border-right: 1px solid #c4c4c4;
    margin-right: -1px;
}


.inner-nav li > a {
	color: $gray;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 16px;
    margin-bottom: 0;
    display: block;
    line-height: 16px;
    padding: 7px 0;
	display: block;
	&:hover {
		opacity: .7;
		transition: .2s all ease-in-out;
	}	
}




////FOOTER

footer {
	background: $white;
}


.prefooter {
	background: $black;
	padding: 30px 0;

	a {
		font-size: 2em;
		display: inline-block;
		margin-right: 2rem;
		color: $blue;
		transition: .3s all;
		&:hover {
			color: $white;
		}
		&:last-of-type {
			margin-right: 0;
		}
	}


	span.h4 {
		font-size: 2rem;
		line-height: 1;
		margin-bottom: 0;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #fff;
		font-weight: 300;
		margin-right: 30px;
		@include media-breakpoint-down(sm) {
			display: block;
			margin-right: 0;
			margin-bottom: 10px;
		}
	}
}


.footer-logo img {
	height: 100px;
}



h4 {
	font-family: $cubano;
}


.cutbox p {
    margin-bottom: 0;
}

// For social media icons
.cutbox span {
    display: inline-block;
    margin-left: 14px;
}

.cutbox .mailink {
	color: $gray-dark;
	&:hover {
		color: $red;
	}
}


article#be-innovative-symposium {
	.row {
		border-bottom: 1px solid #ddd;

		&:last-of-type {
			border: 0;
		}
	}
}









/// CULTURE PAGE

.coupon-box {
	background: $white;
	padding: 20px;
	margin: 20px; 
	box-sizing: border-box;
	border: 1px dashed #000;
}





////  HEADINGS and such

article h3 {
    font-size: 30px;
    line-height: 25px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: 1px solid #c4c4c4;
    margin: 46px 0 23px 0;
    padding-bottom: 24px;	
}


article h4, .modal h4 {
	font-size: 1.125rem;
	font-weight: 700;
	font-family: $klavika;
}



h6 {
	font-size: 14px;
    font-weight: 700;
    margin: 1.5em 0 .25em 0;
    text-transform: uppercase;
    text-decoration: underline;	
}



// HOME PAGE TESTS

.page-home {

	.mission h1 {
		text-transform: uppercase;
    	font-weight: 600;
    	margin-top: 30px;

    	@include media-breakpoint-down(sm) {
			font-size: 1.75rem;
		}
	}

	.mission h2 {
		font-weight: 300;
    	margin-bottom: 0;
    	font-size: 1.55rem;
    	@include media-breakpoint-down(sm) {
			font-size: 1.25rem;
		}    	
	}

	.job-box h3 {
		background: #000;
		color: #fff;
		padding: 20px;
		&:hover {
			color: $blue;
		}
	}

	.quicklinks h5 {
		text-transform: uppercase;
    	font-weight: 600;
    	font-size: 1em;
    	margin-top: 10px;
	}

}



// SYMPOSIUM PAGE

.page-symposium {

	p.lede {
    	font-size: 24px;
    	font-weight: 300;
    	text-align: center;
   }

	.event {
	border-bottom: 1px solid #ddd;
	margin-bottom: 30px;
	padding-bottom: 30px;
	float: left;
	width: 	100%;

	h2 {
		font-size: 32px;
	}

	h2 + p {
		font-size: 20px;
		font-weight: 300;
	}

	.panel-day {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	.panel-time {
    	font-size: 30px;
    	font-weight: 600;
	}



	ul.panelists li {
		line-height: 1.2;
		position: relative;

		&:hover {

			&:before {
				position: absolute;
				content: "+";
				left: -19px;
				top: 10px;			
			}
		}

		.p-thumb {
			float: left;
    		height: 50px;
    		width: 50px;
    		margin-right: 10px;
		}
	

 		a.panelbio {
			margin-bottom: 10px;
			display: block;
			color: #55595c;
			transition: .3s;
			&:hover {
				color: $red;
			}
 		}
	}

}

}





// SYMPO TABS

.ttu-highlight-videos {

	.nav-center {  
	  text-align: center;
	  ul.nav {
	    display: inline-block;
	    li {
	      display: inline
	      a {
	        float: left
	      }
	    }
	  }
	}


	.nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover, .nav-pills .nav-item.open .nav-link, .nav-pills .nav-item.open .nav-link:focus, .nav-pills .nav-item.open .nav-link:hover {
		background-color: transparent;
		color: $red;
	}

	.nav-pills .nav-link {
		color: $gray-light;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 1px;
		font-weight: 700;

		&:hover {
			color: $blue;
		}
	}

}





// VERTICAL MODAL TEST #3

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    // /* To center horizontally */
    // margin: 0 auto;
    // max-width: 95%;
    margin: 0 auto;
    pointer-events:all;
    border: 15px solid $brand-primary;
    border-radius: 0;
}



::selection { color: #fff;
  background-color: $blue;
}
::-moz-selection { color: #fff;
  background-color: $blue;
}	



:focus {
	outline: 0!important;
	// outline: -webkit-focus-ring-color auto 5px;
}












.overview-pg {
	.blockquote {
		margin-top: 0;
		margin-bottom: 1rem;
		padding: 0;
		font-size: 2.5rem;
		font-weight: 300;
		border: none;
	}

	footer {
		background: transparent;
	}
}



// HOMEPAGE SLIDER

.rsContent h3 {
    color: #fff;
    font-size: 3.25rem;
    text-shadow: rgba(0, 0, 0, 0.8) 2px 2px 5px;

	@include media-breakpoint-down(sm) {
		font-size: 1.25rem;
	}

}







// NAV TABS THINGS


.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
	color: #55595c;
	opacity: 1;
}


.nav-tabs .nav-link {
	color: #55595c;
	font-weight: 600;
	opacity: .7;
}


// .nav-tabs li {
// 	float: left;

// 	a {

// 		background: transparent;
// 		color: $red;
// 		padding: 6px 10px;

// 		&.active {
// 	    	background: $red;
// 			color: $white;
// 		}
// 	}
// }





// EVENTS CALENDAR STYLING

// DISABLE events bar for now

div#tribe-events-bar {
    // display: none;
}

#tribe-bar-views {
	display: none;
}

div#tribe-events {
	margin-top: 60px;
}

.tribe-events-page-title, #tribe-events-header {
	display: none;
}

.tribe-events-list-separator-month:first-of-type {
	display: none;
}


.tribe-events-list-separator-month {
	background: transparent;
	padding: 0;
}

.tribe-bar-disabled #tribe-bar-form #tribe-bar-views+.tribe-bar-filters {
	left: auto;
	right: auto;
	width: auto;
}

#tribe-bar-form {
	background: transparent;
}


.tribe-events-filters-content {
	background: transparent!important;
	border: 0!important;
}



// PAGE CONTENT 


// COMPANIES PAGE

#partner-with-faculty .btn:first-child {
    margin-right: 20px;
}




// ACCORDIONS

#accordion {
	.panel-heading {

		background-color: $blue;
		margin-bottom: 20px;
		padding: 0;

		a:before {
			font-size: 24px;
			position: absolute;
			content: "\e902";
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;			
			right: 15px;
			top: 15px;
			transform: rotate(180deg);
			transition: all 0.5s;
		}

		&.active a:before {
  			transform: rotate(45deg);
  			transition: all 0.5s;
  			transform-origin: center center 0;
		}

		.panel-title {
			margin-bottom: 0;
			position: relative;

			a {
				color: $white;
				display: block;
				padding: 20px;

			}

		}
	}

}



// BTT LOGOS 

.btt-logo {
	transition: all .2s;
	display: block;
	&:hover {
		opacity: .6;
	}
}



// FOR INTERNSHIP PAGE

.page-internships .btt-logo img {
    max-height: 125px;
    width: auto;
    margin: 0 auto;
}



















